/* header */
.header {
    background-color: #fff;
    color: #333;
    padding-top: 1rem;
    padding-left: 3rem;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.0rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav li {
    margin-left: 2rem;
    vertical-align: middle;
    /* メニューアイテムの垂直方向の配置を中央揃え　ログアウトが下にずれたため */
}

.header-nav a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
}

.header-nav a:hover {
    color: #0264ce;
}

.logout-button {
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.logout-button:hover {
    color: #0264ce;
}


/* main content */
main {
    max-width: 1200px;
    margin: 2rem auto;
    background-color: gainsboro;
}

/* footer */
.footer {
    background-color: #fff;
    color: #333;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
